*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:'Poppins',sans-serif;
}

body{
    background:#720c5a;
    color:white;
}

/* Navbar */

.navbar{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#1a0123;
    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#38bdf8;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    transition:.3s;
}

.nav-links a:hover{
    color:#38bdf8;
}

/* Hero */

.hero{
    min-height:100vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:100px 8%;
}

.hero-text{
    animation:slideLeft 1s ease;
}

.hero-text h1{
    font-size:80px;
}

.hero-text span{
    color:#38bdf8;
}

.hero-text h2{
    margin:15px 0;
}

.hero-text p{
    max-width:500px;
    margin-bottom:20px;
    font-size:20px;
    
}

.hero-image img{
    width:320px;
    border-radius:50%;
    border:5px solid #38bdf8;
    animation:float 3s infinite;
}

.btn{
    display:inline-block;
    padding:12px 25px;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    border-radius:8px;
    margin-right:10px;
}

.btn-secondary{
    background:#475569;
}

/* Sections */

section{
    padding:100px 8%;
}

.section-title{
    text-align:center;
    margin-bottom:50px;
    font-size:40px;
    color:#38bdf8;
}

/* text */

/* About */

.about-container{
    display:flex;
    align-items:center;
    gap:50px;
}

.about-container img{
    width:300px;
    border-radius:20px;
}

.about-content p{
    margin-bottom:15px;
    line-height:1.8;
    font-size:30px;

}

/* Skills */

.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}

.skill-card{
    background:#3e0539;
    padding:30px;
    text-align:center;
    border-radius:15px;
    transition:.4s;
}

.skill-card:hover{
    transform:translateY(-10px);
}

.skill-card i{
    font-size:50px;
    color:#38bdf8;
    margin-bottom:15px;
}

/* Projects */

.project-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.project-card{
    background:#3e0539;
    border-radius:15px;
    overflow:hidden;
    transition:.4s;
}

.project-card:hover{
    transform:scale(1.05);
}

.project-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.project-card h3{
    padding:15px;
}

.project-card p{
    padding:0 15px 20px;
}

/* Contact */

.contact-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
}

.contact-info p{
    margin-bottom:20px;
    font-size:20px;
}

form{
    display:flex;
    flex-direction:column;
}

input,
textarea{
    margin-bottom:15px;
    padding:12px;
    border:none;
    border-radius:8px;
}

button{
    padding:12px;
    border:none;
    background:#38bdf8;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

/* Footer */

footer{
    text-align:center;
    padding:20px;
    background:#26022b;
}

.skill-icon{
    width:60px;
    height:60px;
    object-fit:contain;
    margin-bottom:15px;
    transition:0.3s;
}

.skill-card:hover .skill-icon{
    transform:scale(1.1);
}

/* Animations */

@keyframes slideLeft{
    from{
        opacity:0;
        transform:translateX(-50px);
    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}

@keyframes float{
    0%,100%{
        transform:translateY(0);
    }
    100%{
        transform:translateY(-15px);
    }
}

/* Responsive */

@media(max-width:768px){

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .about-container{
        flex-direction:column;
    }

    .contact-container{
        grid-template-columns:1fr;
    }

    .nav-links{
        gap:15px;
        font-size:14px;
    }

    .hero-text h1{
        font-size:36px;
    }
}